/* Annoying stuff I want to hide */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"],
div[aria-label^="Click to react with"],
.separator_f84418,
div[class^=channelAppLauncher_],
.reactionSuggestion_d1c246,
.app-launcher-entrypoint,
.vc-uvs-message-indicator {
    display: none;
}
div[class^=jumpToPresentBar] {
    right: 16px !important;
}
/* Hide Pinned Guild Discover Button */
div[class^="footer_"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
  display: none;
}
div[class*=unreadMentionsFixedFooter_] {
    bottom: 0;
}
/* Re-add 'Today at' to timestamps */
h3 > span > time[aria-label^="Today at"]::before {
    content: "Today at ";
}
/* Promoted Tile? Go fuck yourself */
.wrapper_e9b191:has(.promotedTag__1d868) {
    display: none;
}
.visual-refresh {
    /* Remove user profile overlap from server list */
    section.panels_c48ade {
        margin-left: 64px;
        width: calc(100% - 72px) !important;
        bottom: 0;
        border-radius: 0;
    }
    .visual-refresh .container__37e49 {
        height: 48px;
        padding: 6px;
    }
    nav.wrapper_ef3116.guilds_c48ade {
        margin-bottom: 0;
    }
    .sidebar_c48ade:after {
        background: none !important;
    }
    /* Context Menu Padding*/
    .labelContainer_c1e9c4,
    .scroller_c1e9c4 {
        padding: 6px;
    }
    .wrapper_f563df {
        padding: 4px 2px;
    }
    .separator_c1e9c4 {
        margin: 2px;
    }
    /* Channel List Padding */
    .wrapper__29444 {
        padding: 2px 6px;
    }
    .mainContent__29444 {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    /* Channel min width */
    .sidebarList_c48ade {
        min-width: 240px;
    }
    /* Window Topbar Size */
    .title_c38106 {
        display: none;
    }
    .bar_c38106 {
        padding-right: 8px;
    }
    * {
        --custom-app-top-bar-height: 24px;
    }
    .leading_c38106, .trailing_c38106 {
        gap: 2px;
    }
    /* Jump to Present */
    .bottomBar__0f481.jumpToPresentBar__0f481 {
        margin: 0px 8px;
        width: calc(100% - 16px);
        padding: 4px 6px 12px 10px;
        min-height: 10px;
        box-shadow: none;
        bottom: -5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        & .lookFilled__201d5 {
            margin: 0;
        }
    }
    /* New Member Badge Color */
    .newMemberBadge_f80704 {
        --text-positive: #4cc06c;
    }
    /* Chat Input */
    .accessoryBar__74017 {
        padding: 2px;
    }
    .vc-chatbar-button {
        scale: 0.75;
    }
    .buttons__74017 {
        gap: 0;
    }
    .clipContainer__841c8 {
        padding-top: 0;
    }
    /* Typing Indicator */
    .typing_b88801 {
        .wrapper__44b0c {
            top: -4px;
        }
    }
    .ellipsis_b88801 {
        translate: 0px -2px;
        scale: 0.75;
    }
    /* Channel Name Offset*/
    .container__9293f {
        padding-left: 10px;
    }
    /* Server Icon Size Fix */
    .wrapper_cc5dd2 {
        scale: 1.2;
        margin: 4px 0.5px 4px 0;
        
    }
    .wrapper__6e9f8, expandedFolderIconWrapper__48112 {
        border-radius: 100%;
        overflow: hidden;
    }
    .selected_e5445c {
        .wrapper__6e9f8 {
            border-radius: 0%;
            overflow: hidden;
        }
    }
    .isExpanded__48112 {
        .stack_dbd263 {
            height: max-content !important;
            margin-bottom: 4px;
            overflow: visible;
        }
    }
    .expandedFolderBackground__48112 {
        border-radius: 14px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: 4px;
        height: calc(100% - 8px);
    }
    .iconSizeMini_f34534 {
        border-radius: 20px !important;
        overflow: hidden;
    }
    /* Search Filter Fix */
    .searchFilter_bd8186:nth-child(2) {
        border-radius: 0;
        border-top-left-radius: var(--radius-xs);
        border-bottom-left-radius: var(--radius-xs);
        border: 1px solid var(--border-faint);
        border-right: none;
        padding-left: 2px;
        padding-right: 0;
    }
    .searchAnswer_bd8186{
        border-radius: 0;
        border-top-right-radius: var(--radius-xs);
        border-bottom-right-radius: var(--radius-xs);
        border: 1px solid var(--border-faint);
        border-left: none;
        padding-left: 0;
        padding-right: 4px;
    }
    /* Bot Tag Size */
    .botText__82f07 {
        font-size: 10px;
        font-weight: normal;
        padding-top: 1px;
    }
    .botTagVerified__82f07 {
        height: 14px;
    }
    /* Slowmode */
    /* .channelTextArea_f75fb0.channelTextArea__74017,
    .scrollableContainer__74017.themedBackground__74017  {
        overflow: visible;
        .rightAccessories__74017 {
            position: absolute;
            right: 0;
            transform: translate(-6px, -20px);
            opacity: 0%;
            transition: 0.25s;
        }
    }
    .channelTextArea__74017:has(.stackedBars__74017) {
        .rightAccessories__74017 {
            transform: translate(-6px, -55px);
        }
    }
    .channelTextArea__74017:hover  {
        .rightAccessories__74017 {
            opacity: 100%;
        }
    } */
    /* Embed Padding */
    .grid__623de {
        padding-top: 8px;
    }
    .markup__75297 pre {
        margin-top: 0;
    }
    /* Chat input padding*/
    .channelTextArea__74017 {
        --custom-channel-textarea-text-area-height: 42px;
    }
    .content_d125d2 {
        margin-bottom: 10px;
    }
    /* Voice Channel Switch Alert */
    .container__468a6 {
        background: var(--background-secondary);
    }
    .form__468a6 {
        background: none;
        .modalContent__468a6 {
            background: none;
        }
        .flex__7c0ba {
            justify-content: center;
            text-align: center;
            background: none;
            button {
                width: 40%;
                &.secondaryButton__468a6 {
                    background: var(--chat-background-default);
                    &:hover {
                        background: var(--background-primary);
                    }
                }
            }
        }
    }
    /* Hide Voice Chat Icon in Member List */
    .dot_c9d15c,
    .icon_c9d15c {
        display: none;
    }
    /* Fix DM Notication Padding */
    .stack_dbd263 > div:has(img[src*="avatar"]),
    .stack_dbd263 > div:has(img[src*="channel-icons"]){
        margin-bottom: 8px !important;
    }
    /* Sort-Kinda Color Revert */
    * {
        --__spoiler-background-color--hidden: #202225;
        --__current--spoiler-background-color: #4B4D52;
        --__spoiler-background-color--hidden--hover: #20222566;
        --text-feedback-positive: rgb(67, 162, 90);
        --text-link: #00a8fc;
        --background-primary: #313338;
        --background-secondary: #2b2d31;
        --bg-base-tertiary: #1e1f22;
        --chat-background-default: #383a40;
        --background-message-hover: #2e3035;
        --__header-bar-background: var(--background-primary) !important;
        --custom-channel-members-bg: var(--background-secondary);
        --background-mod-subtle: var(--background-secondary);
        --background-floating: var(--background-secondary);
        --input-background: var(--bg-base-tertiary);
        --background-base-low: #232428;
        --background-base-lower: var(--background-primary);
        --background-base-lowest: var(--background-secondary);
        --background-surface-high: var(--background-secondary);
        --background-surface-higher: var(--background-base-low);
        --background-surface-highest: var(--background-secondary);
        --background-code: var(--background-base-low);
        --card-primary-bg: var(--bg-base-tertiary);
        --scrollbar-auto-thumb: var(--bg-base-tertiary);
        --scrollbar-thin-thumb: var(--bg-base-tertiary);
    }
    .container__0f2e8 {
        background: var(--background-primary);
    }
    .channelAttachmentArea_b77158 {
        background: none;
    }
    .contentTransitionWrap__23e6b,
    .sidebarRegion__23e6b {
        background: var(--bg-base-tertiary);
    }
    .sidebarRegionScroller__23e6b {
        margin-top: var(--custom-app-top-bar-height);
    }
    .base_c48ade {
        background: var(--bg-base-tertiary);
    }
    .lookFilled__201d5.colorPrimary__201d5 {
        background: var(--input-background);
    }
    .sidebarRegionScroller__23e6b {
        background: var(--background-secondary);
    }
    .contentRegionScroller__23e6b {
        background: var(--background-primary);
    }
    .panel__5dec7 {
        background: none;
    }
    /* Probably the worst way to modify the code block colors */
    .codeLine_ada32f > span,
    .hljs > span {
        filter: saturate(4) hue-rotate(589deg) invert(1) brightness(2.25) contrast(0.5) hue-rotate(136deg) contrast(1.5) invert(1) hue-rotate(365deg) contrast(0.5) saturate(1.5) brightness(1.25) hue-rotate(340deg);
    }
}
