/* Annoying stuff I want to hide */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"],
div[aria-label^="Click to react with"],
.f84418acfdbdfe54-separator,
div[class^=channelAppLauncher_],
.reactionSuggestion_d1c246,
.app-launcher-entrypoint,
.vc-uvs-message-indicator {
    display: none;
}
div[class^=jumpToPresentBar] {
    right: 16px !important;
}
/* Hide Pinned Guild Discover Button */
div[class^="footer_"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
  display: none;
}
div[class*=unreadMentionsFixedFooter_] {
    bottom: 0;
}
/* Re-add 'Today at' to timestamps */
h3 > span > time[aria-label^="Today at"]::before {
    content: "Today at ";
}
/* .c19a557985eb7793-timestamp {
    container-type: normal;
    container-name: timestamp;
    width: fit-content;
} */
/* .c19a557985eb7793-timestamp {
    width: fit-content;
    width: 100px;
    container-type: inline-size;
    container-name: timestamp;
    @container timestamp (min-width: 10rem) {
        h3 > span > span > time {
            content: "Today at ";
            color: red;
        }
    }
} */
/* h3 > span > span > time {
    content: "Today at ";
    color: red;
} */



/* Promoted Tile? Go fuck yourself */
._19b5e5f5dd1df486-wrapper:has(._1d8687673afa90a1-promotedTag) {
    display: none;
}
.visual-refresh {
    /* Remove user profile overlap from server list */
    section[aria-label="User area"] {
        margin-left: 64px;
        width: calc(100% - 72px) !important;
        bottom: 0;
        border-radius: 0;
    }
    .visual-refresh ._37e49614b9f110a9-container {
        height: 48px;
        padding: 6px;
    }
    ._5e434347c823b592-sidebar:after {
        background: none !important;
    }
    nav[aria-label="Servers sidebar"] {
        margin-bottom: 0;
        div[data-align="stretch"] {
            padding-bottom: 12px;
        }
    }
    /* Context Menu Padding*/
    .c1e9c47c23f12ca3-labelContainer,
    .c1e9c47c23f12ca3-scroller {
        padding: 6px;
    }
    .f563df886a7377be-wrapper {
        padding: 4px 2px;
    }
    .c1e9c47c23f12ca3-separator {
        margin: 2px;
    }
    /* Channel List Padding */
    ._29444ba32c7fbeab-wrapper {
        padding: 2px 6px;
    }
    ._29444ba32c7fbeab-mainContent {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    ._48112cbe77dc5022-folderGroup {
        margin-bottom: 8px;
    }
    /* Channel min width */
    ._5e434347c823b592-sidebarList {
        min-width: 240px;
    }
    /* Window Topbar Size */
    .c38106a3f0c3ca76-title {
        display: none;
    }
    .c38106a3f0c3ca76-bar {
        padding-right: 8px;
    }
    * {
        --custom-app-top-bar-height: 24px;
    }
    .c38106a3f0c3ca76-leading, .c38106a3f0c3ca76-trailing {
        gap: 2px;
    }
    /* Chat Input Fixes */
    ._36d072eab2b2e737-scrollerSpacer {
        height: 24px;
    }
    .f75fb00fb7356cbe-form {
        margin-bottom: 16px;
        .b8880176888cc928-typing.b8880176888cc928-inTextChannel.b8880176888cc928-base {
            top: unset;
            bottom: -24px;
            translate: -10px -8px;
            .b8880176888cc928-text {
                margin-left: 8px;
            }
            .b216994de061a9e2-cooldownWrapper {
                translate: 2px 0px;
                padding: 0;
            }
        }
    }
    /* Attach Button Style Change */
    ._0923f156a0410684-attachWrapper {
        padding: 0;
        transform: translate(3px, 5px);
        height: 0;
        ._0923f156a0410684-attachButton {
            &:hover {
                background: none !important;
            }
            ._24af7f4d0326ba4f-buttonWrapper {
                margin: 0 10px;
                margin: 0 13px 0 7px;
                svg {
                    background: #c4c5c9;
                    border-radius: 20px;
                    clip-path: circle(9px);
                    path {
                        clip-path: inset(4px);
                        fill: var(--chat-background-default) !important;
                    }
                }
            }
        }
    }
    /* Weird chat gradient thing */
    ._36d072eab2b2e737-messagesWrapper,
    ._36d072eab2b2e737-scroller {
        mask: none !important;
    }
    ._36d072eab2b2e737-chatGradientBase {
        display: none;
    }
    /* STUPID Chat Buttons AGAIN */
    div[aria-label="Send a gift"],
    div.expression-picker-chat-input-button:has(div[aria-label="Open sticker picker"]) {
        display: none;
    }
    /* Jump to Present */
    ._0f481cbbd7530492-bottomBar._0f481cbbd7530492-jumpToPresentBar {
        margin: 0px 8px;
        width: calc(100% - 16px);
        padding: 4px 6px 12px 10px;
        min-height: 10px;
        box-shadow: none;
        bottom: 6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        & ._201d5e8a3c09670a-lookFilled {
            margin: 0;
            min-height: 22px;
            height: 22px;
            padding: 10px 12px;
        }
        & button {
            height: 22px;
        }
    }
    /* New Member Badge Color */
    .f80704ca4ba27cf7-newMemberBadge {
        --text-positive: #4cc06c;
    }
    /* Chat Input */
    .accessoryBar__74017 {
        padding: 2px;
    }
    .vc-chatbar-button {
        scale: 0.75;
    }
    ._740174f3d6a2c8fe-buttons {
        gap: 0;
    }
    ._841c8f861f7b2704-clipContainer {
        padding-top: 0;
    }
    .b8880176888cc928-ellipsis {
        translate: 0px 0px;
        scale: 0.75;
    }
    /* Channel Name Offset*/
    ._9293f6b2fc12398a-container {
        padding-left: 10px;
    }
    /* Server Icon Size Fix */
    .e5445cbd3ad226f2-blobContainer {
        scale: 1.2;
        margin: 4px 0.5px 4px 0;
    }
    ._650eb104245d257b-listItem {
        mask#«re96» {
            display: none;
        }
    }
    ._6e9f8dce4cc18de3-wrapper, expandedFolderIconWrapper__48112 {
        border-radius: 100%;
        overflow: hidden;
        transition: 0.125s;
    }
    .e5445cbd3ad226f2-selected {
        ._6e9f8dce4cc18de3-wrapper {
            border-radius: 20%;
            overflow: hidden;
        }
    }
    ._48112cbe77dc5022-isExpanded {
        .dbd2630aec71879b-stack {
            height: max-content !important;
            margin-bottom: 4px;
            overflow: visible;
        }
    }
    /* Server Groups */
    ._48112cbe77dc5022-folderGroupBackground {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-bottom: 5px;
        margin-top: 4px;
    }
    ._48112cbe77dc5022-folderGroupBackground {
        border-radius: 14px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: 4px;
        height: calc(100% - 8px);
    }
    .f34534e8a5d3ca64-iconSizeMini {
        border-radius: 20px !important;
        overflow: hidden;
    }
    ._48112cbe77dc5022-folderButton {
        overflow: visible;
    }
    /* Search Filter Fix */
    .bd818628221af7aa-searchFilter:nth-child(2) {
        border-radius: 0;
        border-top-left-radius: var(--radius-xs);
        border-bottom-left-radius: var(--radius-xs);
        border: 1px solid var(--border-faint);
        border-right: none;
        padding-left: 4px;
        padding-right: 0;
    }
    .bd818628221af7aa-searchAnswer{
        border-radius: 0;
        border-top-right-radius: var(--radius-xs);
        border-bottom-right-radius: var(--radius-xs);
        border: 1px solid var(--border-faint);
        border-left: none;
        padding-left: 0;
        padding-right: 4px;
    }
    /* Bot Tag Size */
    ._82f0793afa59e5dc-botText {
        font-size: 10px;
        font-weight: normal;
        padding-top: 1px;
    }
    ._82f0793afa59e5dc-botTagVerified {
        height: 14px;
    }
    /* Slowmode */
    /* .f75fb00fb7356cbe-channelTextArea._740174f3d6a2c8fe-channelTextArea,
    ._740174f3d6a2c8fe-scrollableContainer._740174f3d6a2c8fe-themedBackground  {
        overflow: visible;
        .rightAccessories__74017 {
            position: absolute;
            right: 0;
            transform: translate(-6px, -20px);
            opacity: 0%;
            transition: 0.25s;
        }
    }
    ._740174f3d6a2c8fe-channelTextArea:has(._740174f3d6a2c8fe-stackedBars) {
        .rightAccessories__74017 {
            transform: translate(-6px, -55px);
        }
    }
    ._740174f3d6a2c8fe-channelTextArea:hover  {
        .rightAccessories__74017 {
            opacity: 100%;
        }
    } */
    /* Embed Padding */
    ._623de82e76ad7f82-grid {
        padding-top: 8px;
    }
    ._752971923a1e6683-markup pre {
        margin-top: 0;
    }
    /* Chat input padding*/
    ._740174f3d6a2c8fe-channelTextArea {
        --custom-channel-textarea-text-area-height: 42px;
    }
    .d125d22cdfd32cfe-content {
        /* margin-bottom: 0px; */
        margin-bottom: 12px;
    }
    ._36d072eab2b2e737-messagesWrapper {
        /* margin-bottom: -10px; */
    }
    /* Voice Channel Switch Alert */
    ._918e53296f179828-container {
        background: var(--background-secondary);
    }
    ._918e53296f179828-form {
        background: none;
        ._918e53296f179828-modalContent {
            background: none;
        }
        ._7c0bae9243151ddd-flex {
            justify-content: center;
            text-align: center;
            background: none;
            button {
                width: 40%;
                &._918e53296f179828-secondaryButton {
                    background: var(--chat-background-default);
                    &:hover {
                        background: var(--background-primary);
                    }
                }
            }
        }
    }
    /* Hide Voice Chat Icon in Member List */
    .c9d15c8a962de3c8-dot,
    .c9d15c8a962de3c8-icon {
        display: none;
    }
    /* Fix DM Notication Padding */
    .dbd2630aec71879b-stack > div:has(img[src*="avatar"]),
    .dbd2630aec71879b-stack > div:has(img[src*="channel-icons"]){
        margin-bottom: 8px !important;
        &:last-of-type {
            margin-bottom: 0px !important;
        }
    }
    /* Hide disabled buttons on vc */
    ._5e434347c823b592-panels {
        ._201d5e8a3c09670a-disabledButtonWrapper {
            display: none;
        }
    }
    /* Move search bar all the way to the right */
    ._496769951eb140fe-search {
        order: 1;
        margin-right: 1px;
        /* margin-left: 0; */
    }
    div[aria-label="Bookmarks"] {
        margin-right: 2px;
    }
    /* Games Icon Glow */
    .appLauncherGlow_e6e74f {
        display: none;
    }
    /* Fix Expanded code border clip */
    .modalRoot__4d95d {
        overflow: hidden;
    }
    /* Set Codeblock Tab Size */
    div[class^=modalRoot] {
        tab-size: 4;
    }
    /* VC Connection Box Style */
    ._06d6249a1f2584ac-ping{
        background: none !important;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
    }
    .e131a99484292a19-voiceButtonsContainer {
        gap: 0;
    }
    ._37e49614b9f110a9-container {
        gap: 0;
        ._37e49614b9f110a9-buttons {
            gap: 0;
        }
    }
    ._5e434347c823b592-panels > ._37e49614b9f110a9-container,
    .e131a99484292a19-container {
        padding: 8px;
        .e131a99484292a19-actionButtons {
            gap: 4px;
        }
    }
    /* Member list padding */
    /* ._5d473ecff348c314-member {
        margin-left: 0;
        max-width: var(--custom-member-list-width);
        ._91a9d7f7e5248a56-childContainer {
            margin-left: 8px;
            padding-left: 0;
        }
    }
    .c8ffbb79449f399c-membersGroup {
        padding-left: 14px;
    } */
    /* Hide carrot menus on mic and headphone buttons */
    ._37e49614b9f110a9-buttons {
        ._37e49614b9f110a9-micButtonParent ._37e49614b9f110a9-micButtonWithMenu {
            border-radius: var(--radius-sm);
        }
        ._37e49614b9f110a9-buttonChevron {
            display: none;
        }
    }
    /* Voice Buttons */
    ._5e434347c823b592-activityPanel,
    ._37e49614b9f110a9-container {
        padding: 12px 8px;
    }
    /* Sort-Kinda Color Revert */
    *, .theme-dark {
        --__spoiler-background-color--hidden: #202225;
        --__current--spoiler-background-color: #4B4D52;
        --__spoiler-background-color--hidden--hover: #20222566;
        --text-feedback-positive: rgb(67, 162, 90);
        --text-link: #00a8fc;
        --background-primary: #313338;
        --background-secondary: #2b2d31;
        --bg-base-tertiary: #1e1f22;
        --chat-background-default: #383a40;
        --background-message-hover: #2e3035;
        --__header-bar-background: var(--background-primary) !important;
        --custom-channel-members-bg: var(--background-secondary);
        --background-mod-subtle: var(--background-secondary);
        --background-floating: var(--background-secondary);
        --input-background: var(--bg-base-tertiary);
        --background-base-low: #232428;
        --background-base-lower: var(--background-primary) !important;
        --background-base-lowest: var(--background-secondary);
        --background-surface-high: var(--background-secondary);
        --background-surface-higher: var(--background-base-low);
        --background-surface-highest: var(--background-secondary);
        --background-code: var(--background-base-low);
        --card-primary-bg: var(--bg-base-tertiary);
        --scrollbar-auto-thumb: var(--bg-base-tertiary);
        --scrollbar-thin-thumb: var(--bg-base-tertiary);
        --custom-folder-background: var(--background-secondary) !important;
        --app-border-frame: #8884 !important;
        --message-background-hover: var(--background-secondary);
    }
    /* Guild Nav */
    .ef3116c2da186559-wrapper,
    .b77158512e0ab116-channelAttachmentArea {
        background: none;
    }
    ._23e6b439306f125a-contentTransitionWrap,
    ._23e6b439306f125a-sidebarRegion {
        background: var(--bg-base-tertiary);
    }
    ._23e6b439306f125a-sidebarRegionScroller {
        margin-top: var(--custom-app-top-bar-height);
    }
    ._5e434347c823b592-base {
        background: var(--bg-base-tertiary);
    }
    ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary {
        background: var(--input-background);
    }
    ._23e6b439306f125a-sidebarRegionScroller {
        background: var(--background-secondary);
    }
    ._23e6b439306f125a-contentRegionScroller {
        background: var(--background-primary);
    }
    ._5dec784a68542d60-panel {
        background: none;
    }
    ._23e6b439306f125a-contentRegion {
        background: var(--bg-base-tertiary);
    }
    ._6e9f8dce4cc18de3-childWrapperNoHoverBg {
        background-color: var(--background-primary);
    }
    ._5e434347c823b592-sidebar {
        background: var(--bg-base-tertiary);
    }
    ._974928fe84ca9647-searchBar {
        background: var(--bg-base-tertiary);
    }
    /* Probably the worst way to modify the code block colors */
    /* .ada32f6ad5a36c58-codeLine > span,
    .hljs > span {
        filter: saturate(4) hue-rotate(589deg) invert(1) brightness(2.25) contrast(0.5) hue-rotate(136deg) contrast(1.5) invert(1) hue-rotate(365deg) contrast(0.5) saturate(1.5) brightness(1.25) hue-rotate(340deg);
    } */
    /* For some reason discord overwrote the codeblock css to not use the color var */
    ._623de82e76ad7f82-embed code,
    ._4d95d73152192cf9-textContainer {
        background: var(--background-code);
        border: 1px solid var(--border-normal);
    }
    ._4d95d73152192cf9-modalContent {
        code {
            background: var(--background-code);
        }
        ._4d95d73152192cf9-modalTextContainer {
            --scrollbar-auto-thumb: #0008;
            --scrollbar-thin-thumb: #0008;
        }
        .d125d22cdfd32cfe-thin::-webkit-scrollbar-track {
            background: var(--background-code);
        }
    }
    ._4d95d73152192cf9-textContainer code,
    ._4d95d73152192cf9-modalTextContainer {
        border: none;
        background: none;
    }
    /* Status bubble was unreadable */
    span.ab86098b36386ff7-inner {
        background: var(--background-secondary);
        .ab86098b36386ff7-statusText {
            color: whitesmoke;
        }
    }
    .cf09d85aafe7e124-wrapperAudio {
        background: var(--background-secondary);
    }
    /* Window Bar */
    .c38106a3f0c3ca76-bar {
        background: var(--bg-base-tertiary);
    }
}
/* Comment or uncomment this to censor names/pfps */
/* .c19a557985eb7793-username{
    visibility: hidden;
    text-align: justify;
    &:before {
        visibility: visible;
        content: "████████████████████████████████████████████████████████████";
        width: 100%;
        margin-right: 10px;
        clip-path: rect(0 100% 100% 0);
        filter: blur(10px);
        position: absolute;
    }
}
.c19a557985eb7793-avatar, .c19a557985eb7793-replyAvatar, .c19a557985eb7793-executedCommandAvatar  {
    filter: blur(10px);
    overflow: hidden;
    border-radius: 20px;
    clip-path: circle();
}
.ee71ee16cc02184d-roleIcon {
    display: none;
}
.mention.cdf8a9a2bbd98bd3-wrapper {
    visibility: hidden;
    overflow: hidden;
    clip-path: rect(0 100% 100% 0);
    &:before {
        visibility: visible;
        content: "████████████████████████████████████████████████████████████";
        width: calc(100% - 20px);
        margin-right: 10px;
        overflow-y: hidden;
        filter: blur(10px);
        position: absolute;
    }
} */
